body{
background-image: url(../imagenes/fondos/fondo.jpg);    

}
.forma{
position: absolute;
left: 700px;
top: 120px;
height: 650px;
width: 500px;
background-color: rgb(255, 255, 255);
border: black 2px solid;
overflow:hidden;
}
/*Inicio cara primera */
#caraprimera{  
    /*fondo y tamaño*/
    background-image: url(../imagenes/fondos/carauno.jpg);
    background-size: cover;
    background-size: 100% 100%;
    background-repeat:no-repeat;

    z-index: 10;
    /*animacion abrir*/
    animation-name: abrir;
    animation-duration: 4s;
    animation-delay: 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.cuerdaPrimera{
    position: absolute;
    left: 120px;
    width: 2px;
    background-color: black; 
    height: 150px; 
    float: left;
}
.primeraBola{
    position: absolute;
    top: 100px;
    left: -60px;
    width: 120px;
    height: 120px;
    border-radius: 60px;
    border: black 2px solid;
    /*fondo*/
    background-image: url(../imagenes/carauno/bolauno.png);
    background-size: cover;
    background-size: 170% 170%;
    background-position-x: center;
    background-position-y: -60px;
    background-repeat:no-repeat;
}
.cuerdaSegunda{
    position: absolute;
    left: 340px;
    width: 2px;
    background-color: black; 
    height: 300px; 
    float: left;
}
.segundaBola{
    position: absolute;
    top: 190px;
    left: 280px;
    width: 120px;
    height: 120px;
    border-radius: 60px;
    border: black 2px solid;
    /*fondo*/

    background-color: rgb(129, 23, 150);
    background: radial-gradient(at top left, rgb(197, 126, 230) 20%, rgb(43, 9, 44));
    -ms-border-radius: 150px;
    -moz-border-radius: 150px;
    -webkit-border-radius: 150px;
    -o-border-radius: 150px;
    border-radius: 150px;
    margin: 0px auto;
}
#letras{
    position: absolute;
    top: 320px;
    left: 30px;
    font-family: 'Dancing Script', cursive, "Amatic SC";
    font-size: 90px;

}

/*fin cara primera*/

/*Inicio cara segunda*/
#carasegunda{
    z-index: 9;
    overflow:hidden;
    background-image: url(../imagenes/fondos/carados.jpg);
    background-size: 100% 100%;
    background-repeat:no-repeat;
    
}
#arbol{
    width: 350px;
    height: 450px;
    position: absolute;
    left: 80px;
    top: 200px;
    z-index: 8;

}
#estrella{
    width: 100;
    height: 100px;
    position: absolute;
    left: 200px;
    top: 130px;
    z-index: 9;

}
#regalos{
    width: 280px;
    height: 300px;
    position: absolute;
    left: 20px;
    top: 470px;
    z-index: 10;
}
#regalos2{
    width: 280px;
    height: 300px;
    position: absolute;
    left: 200px;
    top: 470px;
    z-index: 9;
}

/*bolas del arbol*/
.bolitas{
    width: 20px;
    height: 20px;
    border-radius: 60px;
    border: black 1px solid;
    z-index: 10;
    background-color: white;
}
#bola_1{
    position: absolute;
    left: 300px;
    top: 290px;
    animation-name: bolasuno;
    animation-duration: 3s;
    animation-delay: 6s;
    animation-iteration-count: infinite;
}

#bola_2{
    position: absolute;
    left: 190px;
    top: 280px;
    animation-name: bolasuno;
    animation-duration: 3s;
    animation-delay: 7s;
    animation-iteration-count: infinite;
}
#bola_3{
    position: absolute;
    left: 240px;
    top: 340px;
    animation-name: bolasuno;
    animation-duration: 3s;
    animation-delay: 8s;
    animation-iteration-count: infinite;
}
#bola_4{
    position: absolute;
    left: 150px;
    top: 370px;
    animation-name: bolasuno;
    animation-duration: 3s;
    animation-delay: 9s;
    animation-iteration-count: infinite;
}
#bola_5{
    position: absolute;
    left: 320px;
    top: 390px;
    animation-name: bolasuno;
    animation-duration: 3s;
    animation-delay: 10s;
    animation-iteration-count: infinite;
}
#bola_6{
    position: absolute;
    left: 185px;
    top: 420px;
    animation-name: bolasuno;
    animation-duration: 3s;
    animation-delay: 11s;
    animation-iteration-count: infinite;
}
#bola_7{
    position: absolute;
    left: 280px;
    top: 430px;
    animation-name: bolasuno;
    animation-duration: 3s;
    animation-delay: 12s;
    animation-iteration-count: infinite;
}
#bola_8{
    position: absolute;
    left: 110px;
    top: 460px;
    animation-name: bolasuno;
    animation-duration: 3s;
    animation-delay: 13s;
    animation-iteration-count: infinite;
}
#bola_9{
    position: absolute;
    left: 360px;
    top: 460px;
    animation-name: bolasuno;
    animation-duration: 3s;
    animation-delay: 14s;
    animation-iteration-count: infinite;
}
#bola_10{
    position: absolute;
    left: 220px;
    top: 500px;
    animation-name: bolasuno;
    animation-duration: 3s;
    animation-delay: 15s;
    animation-iteration-count: infinite;
}
#bola_11{
    position: absolute;
    left: 220px;
    top: 500px;
    animation-name: bolasuno;
    animation-duration: 3s;
    animation-delay: 16s;
    animation-iteration-count: infinite;
}

/*fin cara segunda*/

/*inicio tercera cara*/
#caratercera{
overflow:hidden;
position: absolute;
left: 700px;
top: 120px;
height: 650px;
width: 500px;
border: black 2px solid;
background-image: url(../imagenes/fondos/caratres.jpg);
z-index: 9;
background-size: 120% 100%;
background-repeat:no-repeat;


/*animacion aparecer*/
animation-name: terceraCara;
animation-duration: 3s;
animation-delay: 5s;
animation-iteration-count: 1;
animation-fill-mode: forwards;

}


#bolagrande{

    position: absolute;
    top: 530px;
    left: 180px;
    width: 120px;
    height: 120px;
    border-radius: 60px;
    background-color: rgb(255, 255, 255);
    border: black 1px solid;
    z-index: 9;

}
#boton1{

    position: absolute;
    top: 550px;
    left: 235px;
    width: 10px;
    height: 10px;
    border-radius: 60px;
    background-color: rgb(0, 0, 0);
    border: black 1px solid;
    z-index: 10;

}

#boton2{

    position: absolute;
    top: 580px;
    left: 235px;
    width: 10px;
    height: 10px;
    border-radius: 60px;
    background-color: rgb(0, 0, 0);
    border: black 1px solid;
    z-index: 10;

}
#boton3{

    position: absolute;
    top: 610px;
    left: 235px;
    width: 10px;
    height: 10px;
    border-radius: 60px;
    background-color: rgb(0, 0, 0);
    border: black 1px solid;
    z-index: 10;

}

#bolapequeña{

    position: absolute;
    top: 430px;
    left: 190px;
    width: 100px;
    height: 100px;
    border-radius: 60px;
    background-color: rgb(255, 255, 255);
    border: black 1px solid;
    z-index: 9;

}

#caramuneco{

    position: absolute;
    top: 420px;
    left: 170px;
    width: 145px;
    height: 120px;
    z-index: 10 ;
}

#bufanda{

    position: absolute;
    top: 515px;
    left: 158px;
    width: 120px;
    height: 95px;
    z-index: 9 ;
    transform: rotatex(5deg);
}


#gorro{

    position: absolute;
    top: 370px;
    left: 160px;
    width: 130px;
    height: 120px;
    z-index: 9 ;
}

#manouno{

    position: absolute;
    top: 480px;
    left: 240px;
    width: 120px;
    height: 95px;
    z-index: 8 ;

    animation-name:saludar;
    animation-duration: 3s;
    animation-delay: 8s;
    animation-iteration-count: infinite;

}
#manodos{
    position: absolute;
    top: 480px;
    left: 120px;
    width: 120px;
    height: 95px;
    z-index: 8 ;
    transform: rotatey(180deg);
}


/*papa noel */

#papanoel{
    position: absolute;
    left: -400px;
    top: -90px;
    width: 350px;
    height: 350px;
    animation-name: papanoel;
    animation-duration: 9s;
    animation-delay: 6s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    z-index: 10;


}
#papanoeldos{
    position: absolute;
    left: -400px;
    top: -90px;
    width: 350px;
    height: 350px;
    animation-name: papanoeldos;
    animation-duration: 9s;
    animation-delay: 7.3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    z-index: 10;


}   

/*fin cara tercera*/



/*animacion abrir carta*/
@keyframes abrir {

    0%{
        top:  120px;
        left:  200px;
        z-index:  10;
        opacity: 1;
    }
    

    100%{
        top:  120px;
        left:  200px;
        opacity: 1;
    }

}

@keyframes terceraCara{

    0%{
        top:  120px;
        left:  200px;
        z-index:  10;
        opacity: 1;
    }


    100%{
        top:  120px;
        left:  200px;
        opacity: 1;
        z-index: 10;
    }
}


/*bolas iluminacion*/

@keyframes bolasuno{

    0%{background: gold; box-shadow: 0 0 2em gold;}
    33% {background: green; box-shadow: 0 0 2em green;}
    45% {background:rgb(128, 0, 122); box-shadow: 0 0 2em rgb(128, 0, 122);}
    66% {background: blue; box-shadow: 0 0 2em blue;}
    100% {background: orange; box-shadow: 0 0 2em orange;}
}


@keyframes papanoel{ /*aparece en cara tres*/
0%{
    left: -300px;
    top: -90px;
}
100%{
    left: 900px;
    top: -90px;

}
}
@keyframes papanoeldos{ /*aparece en cara dos*/
    0%{
        left: -450px;
        top: -90px;
    }
    100%{
        left: 900px;
        top: -90px;
    
    }
}


  @keyframes saludar{

    0%{

        top: 480px;
        left: 240px;
        transforma: rotate(10deg);
    }
    50%{
        top: 490px;
        left: 240px;
        transform: rotate(30deg);
    }

    100%{
        top: 480px;
        left: 240px;
        transforma: rotate(10deg);
    }
  }







